<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=
    , initial-scale=1.0" />
  <title>user Page</title>
  <!-- For loading jQuerry -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- bootsrap css link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
</head>
<body>
  <div id="moviesContainer-main">
    <ul class="list-group" id="moviesContainer">
    </ul>
  </div>
  <div class="container mt-5 text-center"> <!-- Center content horizontally -->
    <a href="./viewCart.html">
      <button id="viewCartBtn" class="btn btn-primary mx-auto">View Cart</button>
    </a>
  </div>
  <!-- bootstrap scr -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script type="module" src="../../FUN/userHome.js"></script>
  <!-- for axios package -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>